<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shirman.ishangchi.rest.dao.ArticleDao" >
  <resultMap id="BaseResultMap" type="com.shirman.ishangchi.rest.entity.Article" >
    <id column="main_id" property="mainId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_show" property="isShow" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    main_id, title, author, content, create_time, modify_time, source, status, is_show
  </sql>
  <select id="getArticleByTitle" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from article
    where title = #{title,jdbcType=VARCHAR}
  </select>
  <select id="queryArticleByType" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from article
    where type = #{type}
  </select>
   <select id="queryArticle" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from article
    where type = #{type}
    order by main_id desc
  </select>
  <insert id="insertArticles" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="main_id">
   	insert into article (main_id, title, author, 
      content, create_time, modify_time, 
      source, status, is_show , type
      ) values
      <foreach collection="list" item="item" index="index" separator="," >
       (#{item.mainId,jdbcType=INTEGER}, #{item.title,jdbcType=VARCHAR}, #{item.author,jdbcType=VARCHAR}, 
      #{item.content,jdbcType=VARCHAR}, #{item.createTime}, #{item.modifyTime}, 
      #{item.source,jdbcType=TINYINT}, #{item.status,jdbcType=TINYINT}, #{item.isShow,jdbcType=TINYINT},
      #{item.type}
      )
      </foreach>
  </insert>
</mapper>